/* reset CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* estilo do corpo da página */
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eae8e8;
}

/* estilo do card */
.card-profissional {
  padding: 30px;
  width: 480px;
  text-align: center;
  border: 1px solid #f2efef;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-nome {
  font-size: 2rem;
  color: rgb(46, 46, 46);
  margin-top: 0px;
  margin-bottom: 5px;
}

.card-titulo {
  color: rgb(98, 98, 98);
  font-weight: 300px;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.card-divisao {
  width: 90%;
  height: 1px;
  border: none;
  background-color: rgb(98, 98, 98);
  margin: 0 auto 20px;
}

.card-contato {
  font-size: 1rem;
  color: #34495e;
  margin-bottom: 10px;
}

.card-contato a {
  text-decoration: none;
  color: #18659b;
  transition: color 0.3s;
}

.card-contato a:hover {
  color: #2980b9;
  transform: scale(1.05);
}
